<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Helix Local Repo" value="./helix/Helix/bin" />
	<add key="Helix Local Repo (Common)" value="./helix/Helix.Common/bin/Debug" />
	<add key="Helix Local Repo (Engine)" value="./helix/Helix.Engine/bin/Debug" />
  </packageSources>
</configuration>