<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="postgres" connectionString="Server=localhost;Port=5432;Database=postgres;User Id=postgres;Password=pwd123!;" />
		<add name="mysql" connectionString="Server=localhost;Database=example;User Id=fiatsql;Password=pwd123!;" />
	</connectionStrings>
</configuration>