<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="postgres" connectionString="Server=localhost;Port=5433;Database=postgres;User Id=postgres;Password=pwd123!;" />
		<add name="mysql" connectionString="Server=localhost;Port=3307;Database=slink;User Id=slink;Password=pwd123!;" />
	</connectionStrings>
</configuration>